<!-- <app-listado></app-listado> -->
<!-- <app-heroe></app-heroe> -->
<app-contador></app-contador>

<!-- <h1>{{1+3}}</h1>
<h1>{{titulo}}</h1> -->

<!-- ///TODO LA LOGICA EN EL ARCHIVO TS NO AQUI -->
<!-- <button (click)="numero=numero+1;">+1</button>
<span>{{numero}}</span>
<button (click)="numero=numero-1;">-1</button> -->

<!-- <button (click)="acumular(1)">+1</button>
<span>{{numero}}</span>
<button (click)="acumular(-1)">-1</button>

<h3>La base es: <strong>{{base}}</strong></h3>
<button (click)="acumular(base)">+{{base}}</button>
<span>{{numero}}</span>
<button (click)="acumular(-base)">-{{base}}</button> -->